:root {
  --text-size: 1.6rem;
  --text-small: 1.2rem;
}

body {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #03dac6;
  --background: #121212;
  --default: white;
}

body.light {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #ffffff;
  --default: black;
}

$xsmall: 620px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$xlarge: 1400px;
