.header__nav-wrapper {
  display: none;
}

@include mediaquery(1300px) {
  .header__nav {
    width: auto;

    display: flex;
    background-color: transparent;
    justify-content: flex-end;

    margin: 0;
    padding: 0 30px;
  }
  .header-nav__overlay {
    display: none;
  }

  .header__nav-wrapper {
    display: block;
  }

  .header__nav a {
    color: $primary;
    display: inline-block;
  }

  .site-header__main-menu {
    .header__nav {
      padding: 0;
    }
  }

  /* Navbar */

  /* 1er niveau de menu */
  .header__nav > .menu-item {
    position: relative;
    & + .menu-item {
      margin-left: 12px;
    }
    &.current-menu-item {
      & > a {
        color: $secondary;
      }
    }
  }

  .header__nav > .menu-item > a {
    padding: 4px 0;
    color: $black;
  }

  /* Ouverture fermeture du menu */
  .header__nav > .menu-item-has-children > a::before {
    display: none;
    content: '';
    position: absolute;
    bottom: -8px;
    right: calc(50% - 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $gray-200 transparent;
  }

  .header__nav > .menu-item-has-children > a::after {
    display: none;
    content: '';
    position: absolute;
    bottom: -18px;
    right: -40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 29px 150px;
    border-color: transparent transparent transparent transparent;
  }

  .header__nav > .menu-item:hover > a,
  .header__nav > .menu-item:focus > a {
    //& > + .sub-menu
    & + .sub-menu {
      display: block;
    }
    &::before,
    &::after {
      display: block;
    }
  }
  .header__nav > .menu-item:hover {
    & > a::before,
    & > a::after {
      display: block;
    }
  }

  .header__nav > .menu-item-has-children > .sub-menu:hover,
  .header__nav > .menu-item-has-children > .sub-menu:focus {
    display: block;
  }
  .sub-menu {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    right: -40px;

    width: 290px;
    background-color: $gray-200;

    padding: 15px 10px;
  }
  /* 2ème niveau de menu */
  .header__nav-wrapper .sub-menu {
    list-style-type: none;
  }
  .header__nav-wrapper .sub-menu a {
    // padding: 10px 15px;
    display: inline-block;

    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;

    color: $black;
    font-size: 1.5rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .no-touch .header__nav-wrapper {
    display: block;
  }

  .site-header__main-menu {
    .current-menu-item {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 100%;
        background-color: $primary;
      }
    }
  }

  #main-menu {
    justify-content: end;
    gap: 6.4rem;
    padding: 0;
  }

  #secondary-menu {
    gap: 1.6rem;
    padding: 0;
    width: auto;
    margin-bottom: 1.6rem;

    li {
      width: fit-content;
    }

    a {
      width: fit-content;
      color: white;
      font-size: 1.6rem;
      font-weight: 400;

      p {
        margin: 0;
      }

      span {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-radius: 3px;
        padding: 8px 8px 8px 13px;
        transition: 0.3s ease-out;

        &.noir {
          background: $black;

          &:hover {
            background: black;
          }
        }

        &.bleu {
          background: $primary;

          &:hover {
            background: $primaryDarken;
          }
        }

        &.orange {
          background: $secondary;

          &:hover {
            background: $secondaryDarken;
          }
        }

        &.rouge {
          background: $tertiary;

          &:hover {
            background: $tertiaryDarken;
          }
        }
      }

      img {
        width: 24px;
        height: 24px;
      }

      .hover-img {
        display: none;
      }

      &:hover {
        .hover-img {
          display: flex;
        }

        .init-img {
          display: none;
        }
      }
    }
  }
}

@include mediaquery($large) {
  .header__nav {
    width: auto;
  }
  /*.sub-menu {
        top: 100%;
    }*/
}
