.menu-toggler {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 99;
}
.site-header__right-part .menu-toggler {
  margin-left: 20px;
}
.menu-toggler__line {
  position: absolute;
  top: 9px;

  height: 2px;
  width: 100%;

  background-color: black;

  transition:
    top 0.15s 0.15s,
    transform 0.15s;
  &:first-of-type {
    top: 0;
    transition:
      top 0.15s 0.15s,
      transform 0.15s;
  }
  &:last-of-type {
    top: 18px;
  }
}

.menu-toggler--opened {
  height: 35px;
  .menu-toggler__line {
    top: 16px;
    transform: rotate(-45deg);
    transition:
      top 0.15s,
      transform 0.15s 0.15s;
    &:first-of-type {
      top: 16px;
      transform: rotate(45deg);
      transition:
        top 0.15s,
        transform 0.15s 0.15s;
    }
  }
}

@include mediaquery(1300px) {
  .menu-toggler {
    display: none;
  }
}
