.color-theme {
  width: fit-content;
  height: fit-content;
  position: relative;
  
  button {
    background: transparent;
    border: 0;
    transition: 0.3s ease-in-out;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    
    svg {
      stroke: var(--blue);
      transition: none;
    }
    
    &:hover {
      background: var(--gray);
      
      svg {
        stroke: var(--red);
      }
    }
  }
  
  svg {
    stroke: var(--red);
  }
  
  .other-themes {
    width: fit-content;
    height: fit-content;
    position: absolute;
    background: var(--gray);
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    top: 0;
    left: 100%;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    
    li {
      cursor: pointer;
    }
    
    &.show {
      display: flex;
    }
  }
  
}
